db/*
wordpress/*
!/wordpress/wp-content
!wordpress/wp-content/themes/Aitalki
!/wordpress/wp-config.php
docker-compose.yaml
wordpress/wp-content/themes/Aitalki/prepros.config
.DS_Store
.idea/*

wordpress/wp-content/themes/Aitalki/node_modules/*


wordpress/wp-content/themes/Aitalki/dist/css/*
wordpress/wp-content/themes/Aitalki/dist/fonts/*
wordpress/wp-content/themes/Aitalki/dist/img/*
wordpress/wp-content/themes/Aitalki/dist/js/*
wordpress/wp-content/themes/Aitalki/dist/vendors/*

wordpress/wp-content/upgrade/*
wordpress/wp-content/ai1wm-backups/*